<h3>編集画面</h3>
<%= form_with model: @customer, url: customer_path do |f| %>
  <p>名前</p>
  <%= f.text_field :name %>
  <p>画像</p>
  <%= f.file_field :image, accept: "image/*" %>
  <%= f.submit "編集を保存" %>

<% end %>