<h3>レビュー詳細</h3>

<table>
  <tr>
    <td><%= @review.title %></td>
  </tr>
  <tr>
    <td><%= @review.body %></td>
  </tr>
  <tr>
    <td><%= image_tag @review.get_image, size: "100x100" %></td>
  </tr>
</table>
<%= link_to "削除する", admin_review_path(review.id), method: :delete %>