<h3>ジャンル詳細</h3>
<table>
  <thead>
    <tr>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @genre.name %>
        <%= link_to "削除する", admin_genre_path(@genre.id), method: :delete %>
      </td>
    </tr>
  </tbody>
</table>